
<header class="header header-2">
  <h3 class="tree-title">
    Tree view
  </h3>
</header>
<div class="spinner-wrapper" *ngIf="!isLoaded">
  <clr-spinner>Loading data</clr-spinner>
</div>
<clr-tree class="tree-wrapper" *ngIf="isLoaded">
  <div class="tree-container">
    <clr-tree-node *ngFor="let item of data">
      {{item.configStatus}}
      <clr-tree-node>
        date: {{item.date| date:'medium'}}
      </clr-tree-node>
      <clr-tree-node>
        configName: {{item.configName}}
      </clr-tree-node>
      <clr-tree-node>
        installMethod: {{item.installMethod}}
      </clr-tree-node>
      <clr-tree-node *ngIf="item.installId">
        Install ID: {{item.installId}}
      </clr-tree-node>
      <clr-tree-node>
        nodes
        <clr-tree-node *ngFor="let node of item.nodes">
          {{node.host}}
          <clr-tree-node>
            status: {{node.status}}
          </clr-tree-node>
          <clr-tree-node>
            message: {{node.message}}
          </clr-tree-node>
        </clr-tree-node>
      </clr-tree-node>

    </clr-tree-node>
  </div>
</clr-tree>

