<h3 class="stack-title">
  Modal editor
  <button
    class="stack-action btn btn-sm btn-link"
    (click)="editModal = true"
    type="button">Edit
  </button>
</h3>
<div class="static-stack">
  <clr-stack-view>
    <div>
      <clr-stack-block *ngFor="let item of data; let i = index"
                       [clrStackViewLevel]="1" [clrStackViewSetsize]="data.length" [clrStackViewPosinset]="i"
      >
        <clr-stack-label>Install method</clr-stack-label>
        <clr-stack-content>{{item.installMethod}}</clr-stack-content>
        <clr-stack-block [clrStackViewLevel]="2" [clrStackViewSetsize]="4" [clrStackViewPosinset]="1">
          <clr-stack-label>Config status</clr-stack-label>
          <clr-stack-content>{{item.configStatus}}</clr-stack-content>
        </clr-stack-block>
        <clr-stack-block [clrStackViewLevel]="2" [clrStackViewSetsize]="4" [clrStackViewPosinset]="2">
          <clr-stack-label>Config name</clr-stack-label>
          <clr-stack-content>{{item.configName}}</clr-stack-content>
        </clr-stack-block>
        <clr-stack-block [clrStackViewLevel]="2" [clrStackViewSetsize]="4" [clrStackViewPosinset]="3">
          <clr-stack-label>Date</clr-stack-label>
          <clr-stack-content>{{toDate(item.date)}}</clr-stack-content>
        </clr-stack-block>
        <clr-stack-block *ngIf="item.installId" [clrStackViewLevel]="2" [clrStackViewSetsize]="4" [clrStackViewPosinset]="3">
          <clr-stack-label>Install ID</clr-stack-label>
          <clr-stack-content>{{item.installId}}</clr-stack-content>
        </clr-stack-block>
        <clr-stack-block [clrStackViewLevel]="2" [clrStackViewSetsize]="4" [clrStackViewPosinset]="4">
          <clr-stack-label>Nodes</clr-stack-label>
          <clr-stack-content>{{item.nodes.length}}</clr-stack-content>
          <clr-stack-block *ngFor="let node of item.nodes; let j = index"
                           [clrStackViewLevel]="3" [clrStackViewSetsize]="item.nodes.length" [clrStackViewPosinset]="j">
            <clr-stack-label>Host</clr-stack-label>
            <clr-stack-content>{{node.host}}</clr-stack-content>
            <clr-stack-block [clrStackViewLevel]="4" [clrStackViewSetsize]="2" [clrStackViewPosinset]="1">
              <clr-stack-label>Status</clr-stack-label>
              <clr-stack-content>{{node.status}}</clr-stack-content>
            </clr-stack-block>
            <clr-stack-block [clrStackViewLevel]="4" [clrStackViewSetsize]="2" [clrStackViewPosinset]="2">
              <clr-stack-label>Message</clr-stack-label>
              <clr-stack-content>{{node.message}}</clr-stack-content>
            </clr-stack-block>
          </clr-stack-block>
        </clr-stack-block>
      </clr-stack-block>
    </div>
  </clr-stack-view>
</div>
<clr-modal [(clrModalOpen)]="editModal">
  <h3 class="modal-title">Edit mode</h3>
  <div class="modal-body">
    <clr-stack-view>
      <clr-stack-block
        *ngFor="let item of data; let i = index"
        [clrStackViewLevel]="1"
        [clrStackViewSetsize]="item.length"
        [clrStackViewPosinset]="i + 1"
      >
        <clr-stack-label>Install method</clr-stack-label>
        <clr-stack-content><input type="text" [(ngModel)]="item.installMethod" class="clr-input"/></clr-stack-content>
        <clr-stack-block [clrStackViewLevel]="2" [clrStackViewSetsize]="4" [clrStackViewPosinset]="1">
          <clr-stack-label>Config status</clr-stack-label>
          <clr-stack-content><input type="text" [(ngModel)]="item.configStatus" class="clr-input"/></clr-stack-content>
        </clr-stack-block>
        <clr-stack-block [clrStackViewLevel]="2" [clrStackViewSetsize]="4" [clrStackViewPosinset]="2">
          <clr-stack-label>Config name</clr-stack-label>
          <clr-stack-content><input type="text" [(ngModel)]="item.configName" class="clr-input"/></clr-stack-content>
        </clr-stack-block>
        <clr-stack-block [clrStackViewLevel]="2" [clrStackViewSetsize]="4" [clrStackViewPosinset]="3">
          <clr-stack-label>Date</clr-stack-label>
          <clr-stack-content>{{toDate(item.date)}}</clr-stack-content>
        </clr-stack-block>
        <clr-stack-block [clrStackViewLevel]="2" [clrStackViewSetsize]="4" [clrStackViewPosinset]="4">
          <clr-stack-label>InstallID</clr-stack-label>
          <clr-stack-content><input type="text" [(ngModel)]="item.installId" class="clr-input"/></clr-stack-content>
        </clr-stack-block>
        <clr-stack-block [clrStackViewLevel]="2" [clrStackViewSetsize]="4" [clrStackViewPosinset]="5">
          <clr-stack-label>Nodes</clr-stack-label>
          <clr-stack-content>{{item.nodes.length}}</clr-stack-content>
          <clr-stack-block *ngFor="let node of item.nodes; let j = index"
                           [clrStackViewLevel]="3" [clrStackViewSetsize]="item.nodes.length" [clrStackViewPosinset]="j">
            <clr-stack-label>Host</clr-stack-label>
            <clr-stack-content><input type="text" [(ngModel)]="node.host" class="clr-input"/></clr-stack-content>
            <clr-stack-block [clrStackViewLevel]="4" [clrStackViewSetsize]="2" [clrStackViewPosinset]="1">
              <clr-stack-label>Status</clr-stack-label>
              <clr-stack-content><input type="text" [(ngModel)]="node.status" class="clr-input"/></clr-stack-content>
            </clr-stack-block>
            <clr-stack-block [clrStackViewLevel]="4" [clrStackViewSetsize]="2" [clrStackViewPosinset]="2">
              <clr-stack-label>Message</clr-stack-label>
              <clr-stack-content><input type="text" [(ngModel)]="node.message" class="clr-input"/></clr-stack-content>
            </clr-stack-block>
          </clr-stack-block>
        </clr-stack-block>
      </clr-stack-block>
    </clr-stack-view>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="editModal = false">Done</button>
  </div>
</clr-modal>
